.u-section-1 .u-sheet-1 {
  min-height: 270px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 12px 442px 0 18px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 78px 448px 12px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 260px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 605px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 408px;
}