.u-section-1 .u-sheet-1 {
  min-height: 111px;
}.u-section-2 .u-sheet-1 {
  min-height: 192px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-2 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-3 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 192px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-4 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1147px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 681px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 647px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-5 .u-image-1 {
  width: 133px;
  height: 147px;
  margin: 14px auto 0 309px;
}

.u-section-5 .u-text-3 {
  margin: -87px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-5 .u-image-2 {
  width: 133px;
  height: 147px;
  margin: 14px auto 0 309px;
}

.u-section-5 .u-text-4 {
  margin: -87px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-5 .u-image-3 {
  width: 133px;
  height: 147px;
  margin: 14px auto 0 309px;
}

.u-section-5 .u-text-5 {
  margin: -87px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-5 .u-image-4 {
  width: 133px;
  height: 147px;
  margin: 14px auto 0 309px;
}

.u-section-5 .u-text-6 {
  margin: -87px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: 146px;
    margin-left: 384px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 146px;
    margin-left: 384px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 146px;
    margin-left: 384px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 146px;
    margin-left: 384px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-3 {
    margin-top: -87px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -87px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -87px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -87px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 187px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 187px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 187px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 187px;
  }
}